h1 {
    font-size: 55px;
    text-align: center;
    justify-content: center;
}

hr {
    color: gray;
}

table {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.dias {
    height: 80px;
}

.FrontEnd {
    justify-content: center;
    text-align: center;
    background-color: rgb(190, 184, 184);
}

.Ingles {
    justify-content: center;
    text-align: center;
    background-color: rgb(117, 55, 99);
}

.Ingles-Dir {
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 0);
}

.Ambiental {
    justify-content: center;
    text-align: center;
    background-color: rgb(223, 205, 167);
}

.Cultura {
    justify-content: center;
    text-align: center;
    background-color: rgb(190, 115, 190);
}

.Proyecto {
    justify-content: center;
    text-align: center;
    background-color: rgb(112, 164, 243);
}

.PHP {
    justify-content: center;
    text-align: center;
    background-color: rgb(245, 179, 118);
}

.BasesDatos {
    justify-content: center;
    text-align: center;
    background-color: rgb(93, 165, 93);
}

.JSP {
    justify-content: center;
    text-align: center;
    background-color: rgb(230, 159, 6);
}

td {
    cursor: pointer;
    transition: 1.5s ease;
    -moz-transition: 1.5s ease;
    -webkit-transition: 1.5s ease;
    -o-transition: 1.5s ease;
}

td:hover {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}
